entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Configure"
author = 23773265
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python configure_schedule.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "info"

[[workflows.workflow]]
name = "info"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 run_info.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true
